.checkbox-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.btn-checkbox {
    height: 3rem;

    display: flex;
    align-items: center;

    gap: 0.75rem;

    & .name-style {
        font: var(--body-sm);
        font-weight: 400;
        color: var(--text-heading);
    }
}

.btn-checkbox-inner {
    width: 4rem;
    height: 2rem;

    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 999px;
    padding: 0.1875rem;

    position: relative;

    & input {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &:has(input:checked) {
        background-color: var(--brand-light);
    }

    & .btn-switch {
        width: 1.5rem;
        height: 1.5rem;

        background-color: var(--input-stroke);
        border-radius: 999px;

        position: absolute;
    }

    &:not(:has(input:checked)) .btn-switch {
        left: 0.1875rem;
    }

    &:has(input:checked) .btn-switch {
        background-color: var(--text-heading);
        right: 0.1875rem;
    }

    &:focus-within {
        outline: 1px solid var(--brand-light);
    }
}

.terms-inner {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    
    position: relative;
    & .checkbox {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../../assets/icons/checkbox-default.svg) no-repeat 100%/contain;
    }

    & input {
        all: unset;
        position: absolute;
        inset: 0;
    }

    & label {
        font: var(--body-sm);
        font-weight: 400;
        color: var(--text-body);
        margin-bottom: 0rem;

        & .link-terms {
            color: var(--brand-light);
            font-weight: 600;
        }
    }

    & + .terms-inner {
        margin-top: 0.75rem;
    }

    &:has(input:checked) .checkbox {
        background: url(../../assets/icons/checkbox-checked.svg) no-repeat 100%/contain;
    }
}