.radio-wrapper {
    display: flex;
    flex-direction: column;

    & + .radio-wrapper {
        margin-top: 1.75rem;
    }
}

.btn-radio {
    height: 3rem;

    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.btn-radio-inner {
    height: 100%;
    width: 50%;
    border-radius: 0.3125rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: relative;

    font: var(--body-sm);
    color: var(--input-placeholder);

    & input {
        all: unset;
        position: absolute;
        inset: 0;
    }

    & label {
        margin-bottom: initial;
    }

    &:has(input:checked) {
        background-color: var(--shape-button);
        font-weight: 600;

        & svg path {
            fill: var(--brand-light);
        }

        & label {
            font-weight: 600;
            color: white;
        }
    }

    &:not(:has(input:checked)) {
        cursor: pointer;
    }

    &:focus-within {
        outline: 1px solid var(--brand-light);
    }
}

.main-colors-list {
    margin-top: 1rem;

    justify-content: space-between;
}

.main-color-item {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--shape-button);
    border-radius: 999px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    & div {
        display: block;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 999px;

        background-color: var(--shape-background);

        &.color-1 {
            background-color: var(--brand-light);
        }

        &.color-2 {
            background-color: var(--navy);
        }

        &.color-3 {
            background-color: var(--purple);
        }

        &.color-4 {
            background-color: var(--fuschia);
        }

        &.color-5 {
            background-color: var(--pink);
        }

        &.color-6 {
            background-color: var(--danger);
        }

        &.color-7 {
            background-color: var(--orange);
        }

        &.color-8 {
            background-color: var(--yellow);
        }

        &.color-9 {
            background-color: var(--lime);
        }

        &.color-10 {
            background-color: var(--green);
        }

        &.color-11 {
            background-color: var(--cyan);
        }
    }
    
    & input {
       all: unset;
       position: absolute;
       inset: 0;
    }

    &:has(input:checked),
    &:focus {
       outline: 2px solid var(--brand-light);
    }

    &:not(:has(input:checked)) {
        cursor: pointer;
    }

    &:not(:has(input:checked)):hover {
        background-color: var(--shape-hover);
    }
}

.event-themes-list {
    margin: 1rem 0 1.75rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.event-theme-item {
    height: 6.43rem;
    padding: 0.125rem;

    background-color: var(--shape-button);
    border: 2px solid var(--input-stroke);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    & img {
        border-radius: 0.25rem;
    }

    & input {
        all: unset;
        position: absolute;
        inset: 0;
    }

    & label {
        margin-top: 0.5rem;
        font: var(--body-sm);
        color: var(--text-heading);
        font-weight: 400;
    }

    &:has(input:checked),
    &:focus {
       border-color: var(--brand-light);
    }

    &:not(:has(input:checked)) {
        cursor: pointer;
    }

    &:not(:has(input:checked)):hover {
        background-color: var(--shape-hover);
    }
}