@import url(fields/inputs.css);
@import url(fields/radio.css);
@import url(fields/textarea.css);
@import url(fields/checkbox.css);
@import url(fields/droparea.css);

fieldset {
    border: 0;

    margin-top: 2.5rem;

    & > .flex {
        gap: 1rem;
    }
}

legend {
    display: flex;
    gap: .75rem;

    margin-bottom: 1.5rem;

    &::before {
        content: '';
        width: 24px;
        height: 24px;
        display: block;
    }

    & span {
        font: var(--heading-sm);
    }
}

label {
    font: var(--body-sm);
    font-weight: 400;
    margin-bottom: 0.75rem;
}

input, 
textarea {
    &:invalid {
        border: 1px solid var(--danger);
    }

    &[required] + .error {
        margin-top: 0.5rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        font: var(--body-xs);
        color: var(--danger);
    }

    &:valid + .error {
        display: none;
    }
}


.about-event legend::before {
    background: url(../assets/icons/calendar.svg) no-repeat 100%/contain;
}

.customization legend::before {
    background: url(../assets/icons/paintbrush-vertical.svg) no-repeat 100%/contain;
}

.contact-data legend::before {
    background: url(../assets/icons/calendar.svg) no-repeat 100%/contain;
}

.terms {
    border-top: 1px solid var(--input-stroke);
    padding-top: 2.5rem;
}

.main-button {
    margin-top: 3rem;

    display: flex;
    justify-content: flex-end;

    & .btn-send {
        padding: 0.81rem 1.25rem;
        background-color: var(--brand-dark);
        border-radius: 0.5rem;

        display: flex;
        gap: 0.75rem;

        & svg {
            display: flex;
            justify-content: center;
        }

        & input {
            all: unset;
     
            font: var(--body-md);
            font-weight: 600;
            color: var(--text-heading);
        }

        &:hover {
            background-color: var(--brand-light);
            cursor: pointer;
        }
    }
}