@import url(fields/inputs.css);
@import url(fields/radio.css);
@import url(fields/textarea.css);
@import url(fields/checkbox.css);
@import url(fields/droparea.css);

fieldset {
    border: 0;

    margin-top: 2.5rem;

    & > .flex {
        gap: 1rem;
    }
}

legend {
    display: flex;
    gap: .75rem;

    margin-bottom: 1.5rem;

    &::before {
        content: '';
        width: 24px;
        height: 24px;
        display: block;
    }

    & span {
        font: var(--heading-sm);
    }
}

label {
    font: var(--body-sm);
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.about-event legend::before {
    background: url(../assets/icons/calendar.svg) no-repeat 100%/contain;
}

.customization legend::before {
    background: url(../assets/icons/paintbrush-vertical.svg) no-repeat 100%/contain;
}